.menu-button {
    font-size: 48px;
    -unity-font-style: normal;
    color: rgb(0, 0, 0);
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    -unity-text-outline-width: 2px;
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-slice-left: 100;
    -unity-slice-top: 100;
    -unity-slice-right: 100;
    -unity-slice-bottom: 100;
    padding-right: 64px;
    padding-left: 64px;
    width: 747px;
    background-color: rgb(11, 232, 129);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    height: 150px;
}

.menu-button .unity-button__image {
    width: 48px;
    height: 48px;
    flex-grow: 0;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    --unity-image-tint-color: rgb(0, 0, 0);
}

.item {
    height: 100%;
    flex-grow: 0;
    width: 50%;
    flex-shrink: 0;
    position: absolute;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
}

.control-button {
    width: 450px;
    height: 120px;
    background-color: rgb(11, 232, 129);
    font-size: 48px;
    -unity-font-definition: url("project://database/Assets/Content/Fonts/LilitaOne-Regular.ttf?fileID=12800000&guid=3ab00100b536c784a98e2f1ca92cc40b&type=3#LilitaOne-Regular");
    background-image: url("project://database/Assets/Content/Sprites/button.png?fileID=2800000&guid=16892b1c8c6beb9498a6f5bf74c93953&type=3#button");
    -unity-slice-left: 100;
    -unity-slice-top: 100;
    -unity-slice-right: 100;
    -unity-slice-bottom: 100;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 2px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0 rgb(0, 0, 0);
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.control-button Image {
    width: 64px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.more-button {
    font-size: 44px;
    -unity-font-style: normal;
    color: rgb(30, 39, 46);
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    -unity-text-outline-width: 2px;
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-slice-left: 100;
    -unity-slice-top: 100;
    -unity-slice-right: 100;
    -unity-slice-bottom: 100;
    padding-right: 64px;
    padding-left: 64px;
    width: 620px;
    background-color: rgb(11, 232, 129);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    height: 110px;
}

.more-button .unity-button__image {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    --unity-image-tint-color: rgb(39, 39, 46);
}

.less-button {
    font-size: 44px;
    -unity-font-style: normal;
    color: rgb(255, 255, 255);
    margin-top: 36px;
    margin-right: 36px;
    margin-bottom: 36px;
    margin-left: 36px;
    -unity-text-outline-width: 2px;
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-slice-left: 100;
    -unity-slice-top: 100;
    -unity-slice-right: 100;
    -unity-slice-bottom: 100;
    padding-right: 64px;
    padding-left: 64px;
    width: 620px;
    background-color: rgb(255, 63, 52);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    height: 110px;
}

.less-button .unity-button__image {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    --unity-image-tint-color: rgb(255, 255, 255);
    rotate: 180deg;
}

.lose-menu {
    flex-grow: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.lose-menu__background {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.lose-menu__background-half {
    width: 50%;
    height: 100%;
    flex-grow: 1;
}

.lose-menu__background-half--left {
    background-color: rgb(30, 39, 46);
}

.lose-menu__background-half--right {
    background-color: rgb(72, 84, 96);
}

.lose-menu__content {
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    width: 820px;
}

.lose-menu__title {
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
    font-size: 72px;
    white-space: normal;
    margin-bottom: 44px;
}

.lose-menu__result-row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
}

.lose-menu__result-label {
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-text-align: middle-center;
    color: rgb(255, 211, 89);
    font-size: 38px;
    white-space: normal;
}

.lose-menu__result-value {
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
    font-size: 38px;
    margin-left: 12px;
}

.lose-menu__icon {
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 63, 52);
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    margin-bottom: 42px;
}

.lose-menu__icon-cross {
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
    font-size: 96px;
    rotate: 45deg;
}

.lose-menu__button {
    -unity-font-definition: url("project://database/Assets/Content/Fonts/ms-reference-sans-serif-gras.ttf?fileID=12800000&guid=cbc6434fea4e55a46852b16b9697eb05&type=3#ms-reference-sans-serif-gras");
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
    font-size: 42px;
    background-color: rgb(255, 63, 52);
    width: 620px;
    height: 110px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 36px;
    margin-left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    padding-right: 32px;
    padding-left: 32px;
}

.lose-menu__button--exit {
    margin-bottom: 0;
}
